@media screen and (min-width: 400px) {


    header {
        flex-direction: row;
        /* Stack items vertically on smaller screens */
        text-align: center;
        /* Center text when stacked */
    }

    h1 {
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: space-around;


    }

    nav a {
        display: flex;
    }

    #menu {
        display: none;
    }


    main {
        display: flex;
    }

    aside {
        width: 500px;
        /* Fixed width of 500px */
    }

    section {
        flex-grow: 1;
        /* Occupy remaining space */
    }



    footer {
        width: 100%;
    }


}