:root {
    /* color schema */
    --primary-color: #25160B;
    --secondary-color: #8D5214;
    --accent-color: #CE6E00;
    --background-color: #FAF8EA;
    /* font pair */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Trebuchet MS', sans-serif;
}

/*below you can use
var(--primary-color);
var(--secondary-color);
var(--accent-color);
var(--background-color);

var(--primary-font);
var(--secondary-font);*/



h1,
a {
    font-family: var(--primary-font);
    font-weight: bold;
}

header {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

h1 {
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 30px;
    margin: 0;
    text-align: center;
    font-size: 25px;

}

#logo {
    width: 80px;
    height: 80px;
    background-color: var(--primary-color);
    margin: 15px 40px 15px 15px;
}


/*HAMBURGER MENU*/
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--background-color);
    background-color: var(--secondary-color);
    text-align: right;
    padding-right: 5px;
}

#menu::before {
    content: "☰";
    color: var(--background-color);
}

#menu.open::before {
    content: "✖";
    color: var(--background-color);
}

nav {
    background-color: var(--secondary-color);
    color: var(--background-color);

    padding: 5px;
    display: block;
    justify-content: space-around;
    text-align: left;
    line-height: 2.0;
    font-size: 18px;
}

.open a {
    display: block;
}

ul {
    list-style-type: none;
}


nav a {
    color: var(--background-color);
    text-decoration: none;
    display: none;
    cursor: pointer;
}

/*MAIN*/

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 0 0 500px;
    width: 100%;
}

/*Aligning image with button*/

#hero {
    width: 100%;
}

#heroImageWithButton {
    position: relative;
    /* Set container to relative positioning */
    display: inline-block;
    /* Ensure container fits its content */
}

#heroImageWithButton img {
    display: block;
    /* Ensure image takes up its own space */
    width: 100%;
    /* Make image fill the container */
}

#heroImageWithButton Button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: var(--primary-font);
    font-weight: bolder;
}


section {
    flex: 1;
    width: 100%;
}

.weather-info {
    background-color: var(--secondary-color);
    color: var(--background-color);
    width: 100%;
}

/*SLIDER CONTAINER*/
.slider-container {
    position: relative;
    width: 300px;
    /* Adjust width as needed */
    height: 200px;
    /* Adjust height as needed */
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    line-height: 30px;
}

.left-arrow {
    left: 0;
    background-color: var(--accent-color);
}

.right-arrow {
    right: 0;
    background-color: var(--accent-color);
}







/*FOOTER*/
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--secondary-font);

}


.flag {
    width: 40px;
    margin: 0 10px;
}

#lastModified {
    font-style: italic;
    color: #ffffff
}