@media screen and (min-width: 400px) {


    header {
        flex-direction: row;
        /* Stack items vertically on smaller screens */
        text-align: center;
        /* Center text when stacked */
    }

    h1 {
        text-align: center;
        font-size: 25px;
        padding: 30px;

    }

    nav {
        display: flex;
        justify-content: space-around;


    }

    nav a {
        display: flex;
    }

    #menu {
        display: none;
    }


    #main {
        display: flex;
    }

    aside {
        width: 500px;
        /* Fixed width of 500px */
    }

    section {
        flex-grow: 1;
        /* Occupy remaining space */
    }



    footer {
        width: 100%;
    }

    #discoverGrid {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
    }


}

@media screen and (min-width: 600px) {
    #main {
        display: grid;
        grid-template-columns: 400px auto;
        grid-gap: 10px;
    }

    aside {
        grid-column: 1/2;
    }

    section {
        grid-column: 2/3;
    }





    /* DISCOVER PAGE*/

    #discoverGrid {
        display: grid;
        grid-template-columns: 300px auto;
        /* here I used chatGPT to correct my syntaxis*/
        grid-template-rows: 300px 400px 300px minmax(auto, max-content);
        margin: 10px;
        grid-gap: 10px;
        z-index: 1;
    }

    #statistics {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        max-width: 400px;
        text-align: justify;
        background-color: rgb(238, 184, 122);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 10px;
    }

    #event {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        max-width: 400px;
        text-align: justify;
        background-color: rgb(238, 184, 122);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 10px;
    }


    #eventPic {
        max-width: 280px;
        height: auto;
        border: 1px solid var(--primary-color);

    }

    #calendPic {
        width: 100%;
        height: auto;
        border: 1px solid var(--primary-color);
    }


    #calendar {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        max-width: 400px;


    }

    #pictureColumn {
        grid-column: 2 / 3;
        grid-row: 1 / 5;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    #lazy {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    footer {
        z-index: 1;
    }

}