@media screen and (min-width: 500px) {


    header {
        flex-direction: row; /* Stack items vertically on smaller screens */
        text-align: center; /* Center text when stacked */
    }

    nav ul {
		display: flex;
        padding: 20px;
	}

    nav ul li {padding: 11px;}
	


}