@media screen and (min-width: 500px) {


    header {
        flex-direction: row;
        /* Stack items vertically on smaller screens */
        text-align: center;
        /* Center text when stacked */
    }

    nav {
        display: flex;
        padding: 20px;
        justify-content: space-around;


    }

    nav a {
        display: flex;
    }

    #menu {
        display: none;
    }


}