@media screen and (min-width: 570px) {


    header {
        flex-direction: row;
        /* Stack items vertically on smaller screens */
        text-align: center;
        /* Center text when stacked */
    }

    nav {
        display: flex;
        padding: 20px;
        justify-content: space-around;


    }

    nav a {
        display: flex;
    }

    .herolabel {
        padding: 1.2rem;
        top: 330px;
        left: 20px;
    }

    .herolabel p {
        font-size: 16px;
    }

    #menu {
        display: none;
    }


}