@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

body {
    margin: 0;
}

header {
    background-color: rgb(4, 31, 4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', Arial, sans-serif;
    width: 100%;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
    gap: 20px;
    padding: 1rem;
    box-sizing: border-box;
}

.card {
    border: 3px solid rgb(19, 54, 19);
    border-radius: 12px;
    box-sizing: border-box;
    margin-bottom: 20px;

}

.principleName {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 30px;
    background-color: rgb(19, 54, 19);
    color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.companyName {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.webLink {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 5px;
    font-size: 16px;
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: 300;
}

.webScreen {
    width: 100%;
    height: auto;
    justify-content: center;
    height: auto;
    display: block;
    margin-top: 10px;

}

.comment {
    text-align: justify;
    margin: 20px;
    font-size: 18px;
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: 300;
}

footer {
    background-color: rgb(4, 31, 4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', Arial, sans-serif;
    width: 100%;
    padding: 40px;
}

@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;

    }
}