@media screen and (min-width: 661px) and (max-width: 980px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .card {


        box-sizing: border-box;
        width: 300px;

    }

}



@media screen and (min-width: 981px) {
    .card {

        width: 300px;
    }
}