:root {
    /* color schema */
    --primary-color: #22ad38ff;
    --secondary-color: #000000;
    --accent-color: rgb(255, 95, 2);
    --background-color: #ffffff;
}

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
}

header {
    height: 80px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
}

/*HEAT WARNING*/

#message {
    position: fixed;
    top: 2%;
    left: 15%;
    width: 70%;
    height: auto;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--background-color);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    border-radius: 7px;
    z-index: 9999;
}

#black {
    color: var(--secondary-color);
}

font,
#degreeValue {
    color: yellow;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}

#closeButton {
    content: "✖";
    color: white;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

/*LOGO*/

#logo {
    width: 120px;
    height: auto;
}

/*HAMBURGER MENU*/

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--background-color);
    background-color: var(--primary-color);
    text-align: right;
    padding-right: 5px;
}

#menu::before {
    content: "☰";
    color: var(--background-color);
}

#menu.open::before {
    content: "✖";
    color: var(--background-color);
}

nav {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 5px;
    display: block;
    justify-content: space-around;
    text-align: left;
    line-height: 2.0;
    font-size: 20px;
}

.open a {
    display: block;
}

ul {
    list-style-type: none;
}


nav a {
    color: var(--background-color);
    text-decoration: none;
    display: none;
    font-size: 20px;
}

nav a:hover {
    color: var(--accent-color);
}


/*HOME PAGE MAIN CONTENT*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}


#banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.banner {
    width: 100%;
    margin: 0;
    z-index: 1;
}

.actionButton {
    width: 100%;
    max-width: 200px;
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: large;
    color: var(--background-color);
    padding: 20px;
    border: none;
    z-index: 100;
    border-radius: 7px;
}

#shifted {
    position: absolute;
    bottom: -20px;
}

#contactBlock {
    max-width: 60%;
    min-width: 219px;
    background-color: rgb(239, 255, 237);
    position: relative;
    top: -50px;
    z-index: 2;
    padding-top: 70px;
    border-radius: 7px;
    margin-bottom: 0;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
}

#address {
    text-align: justify;
    padding: 20px 40px;
    margin: 0;

}

#address2 {
    text-align: justify;
    padding: 0px 40px;
    margin-bottom: 40px;

}

#tel {
    text-align: center;
    margin-bottom: 20px;
}

/*SUMMARY BLOCK*/

#sum {
    margin: 40px;
    font-size: 15px;
    text-align: justify;
}

#respImg {
    width: 100%;
    height: auto;
    margin: 15px 0;
}

/*WEATHER BLOCK*/
#weatherBlock {
    width: 100%;
    background-color: rgb(192, 255, 184);
    padding: 20px;
    border-radius: 7px;
    margin: 5px;
    text-align: center;
}

h2 {
    color: var(--accent-color);
}

.weather-icon {
    width: 80px;
    height: auto;
    background-color: #ffffff;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    filter: contrast(180%);
    filter: brightness(90%);
}

.weather-info {
    margin-top: 10px;
}

/*FOOTER*/

#socialMedia {
    padding: 40px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.social {
    width: 40px;
    height: 40px;
    margin: 0 20px;
}

/*RENTALS PAGE CSS additions*/

#vehicleSelect {
    margin-top: 30px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    color: rgb(21, 121, 36);
    font-size: 18px;
    border-color: rgb(21, 121, 36);
}

.image-container {
    position: relative;
}

#vehicleImage {
    width: 100%;
    margin-top: o;
}

#seatCap {
    position: absolute;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 10px;
    border-radius: 7px;
    bottom: 10px;
    left: 10px;
}

.lowerText,
.narText {
    margin-bottom: 0
}

.lowerText {
    margin-top: 0;
}

#reservationHalfDay,
#reservationFullDay {
    color: var(--accent-color);
    font-weight: bold;
}

#walkInHalfDay,
#walkInFullDay {
    font-weight: bold;
}

.flex {
    margin: 20px;
}

/*RESERVATION PAGE CSS additions*/

ul {
    list-style-type: disc;
    padding: 0px 12px 0px 12px;
    margin-left: 30px;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;

}

.form-group label {
    margin-bottom: 5px;
    font-family: "Rubik", sans-serif;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 8px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: "Rubik", sans-serif;
}

.form-group textarea {
    resize: vertical;
}

.form-group input[type="submit"] {
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #ff3c01;
}


@media screen and (max-width: 645px) {
    .form-container {
        grid-template-columns: 1fr;
    }

    .form-group {
        margin-right: 20px;
    }

    #shiftHead,
    #rentForm {
        margin-left: 20px;
    }
}

/*CONTACT PAGE adjustments*/
#map {
    width: 100%;
    height: calc(100vw / 1.5);
}

.centered {
    text-align: center;
    margin: 0;

}

#contactForm {
    width: 90%;
}

/*Small screen rules*/
@media only screen and (max-width: 299px) {

    header {
        height: 130px;
    }

    .actionButton {
        padding: 5px;
    }

    #contactBlock {
        top: -18px;
    }

    .flex {
        font-size: smaller;
    }

    #contactForm {
        width: 100%;
    }
}

@media only screen and (max-width: 125px) {
    .flex {
        font-size: smaller;
    }
}