@media screen and (min-width: 500px) {

    #logo {
        margin-left: 50px;
        width: 150px;
    }

    #contactBlock {
        max-width: 70%;
    }

    nav {
        display: flex;
        padding: 5px;
        justify-content: space-around;


    }

    nav a {
        display: flex;
    }

    #menu {
        display: none;
    }



}

@media screen and (min-width: 1000px) {
    #logo {
        margin-left: 100px;
        width: 200px;
    }
}


@media screen and (min-width: 1500px) {

    #logo {
        margin-left: 150px;
        width: 250px;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    nav a {
        display: flex;
    }

    #menu {
        display: none;
    }
}